@import url('https://fonts.cdnfonts.com/css/audrey');

.header-bar {
	z-index: 0;
	position: relative;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid #fffa;
	border-left: 10px solid #fffa;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}
.header-bar::after {
	content: "";
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30%;
	height: 49px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fffa;
	border-right: 10px solid #fffa;
	transition: 0.3s linear all;
}
.header-bar > .logo {
	position: absolute;
	top: calc(50% - 20px);
	left: 10px;
	transform: translateY(-50%);
	color: #fffc;
	cursor: default;
	user-select: none;
}
.logo-image{
	color: #ffffff;
	margin-left: 10px;
	margin-right: 10px;
	width: auto;
	height: 50px;
}

.slider-menu {
	position: absolute;
	top: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.nav-bar {
	width: 100%;
	height: 5%;
}

.footer-list {
	margin: auto;
	list-style: none;
}
.active {
	position: absolute;
	z-index: 1;
	width: 0%;
	height: 0%;
	background: #000000;
	border-radius: 5px;
	transition: left 300ms ease, width 200ms 200ms ease;
}

.item {
	float: left;
}

.item a {
	font-family: 'Audrey', sans-serif;
	font-size: 20px;
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
	text-decoration: none;
}
.item a:hover {
	color: #8eb5f0;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}

body {
	background-image: linear-gradient(
		to bottom right,
		#c1853b,
		#cc1b1b,
		#2f0505,
		#85311b
	);
	margin-top: 0;
	font-family: "Mona Sans", system-ui, sans-serif;
}
